<!doctype html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <style>
      div, h1, h2, h3, h4, h5, h6 {text-align: justify;
        width: 800px;
        margin-left:40px;
      }
      img {margin-left:40px}
      * {align: center;
      }
      </style>
</head>

<title>О проекте "Университеты ВКонтакте"</title>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9370db;">
  <a class="navbar-brand" href="#">Меню сайта</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/">Главная</a>
      <a class="nav-link" href="/download">Скачать данные</a>
      <a class="nav-link" href="/info">О проекте</a>
    </div>
  </div>
</nav>

<h1 style="margin-top: 30px">О проекте</h1>

<div style="margin-top: 40px">
    Проект реализован с помощью инструментов:
    <ul style="font-size:20px">
      <li style="color:#9370db" ><span style="color:Black; font-size:16px">VK API</span></li>
      <li style="color:#9370db" ><span style="color:Black; font-size:16px">Mystem</span></li>
      <li style="color:#9370db" ><span style="color:Black; font-size:16px">NLTK</span></li>
      <li style="color:#9370db" ><span style="color:Black; font-size:16px">Matplotlib</span></li>
      <li style="color:#9370db" ><span style="color:Black; font-size:16px">Wordcloud</span></li>
      <li style="color:#9370db" ><span style="color:Black; font-size:16px">TF-IDF</span></li>
      <li style="color:#9370db" ><span style="color:Black; font-size:16px">Flask</span></li>
    </ul>
    
    Выполнила студентка БКЛ204 Анастасия Андреева.
  </p> 
</div>


</body>
</html>